extends layout

block content
  h2='Beautiful goals'
  p
    each goal in goals
      iframe(src='https://www.youtube.com/embed/' + goal.embed + '?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=1&amp;rel=0&amp;enablejsapi=1' allowfullscreen allowtransparency allow='autoplay')