doctype html
html
  head
    title='AS Roma History'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1='AS Roma History'
    a(href='/') Home
    br
    a(href='/records') Serie A records
    br
    a(href='/players') Most appearances by player
    br
    a(href='/goals/') Beautiful goals
    block content