extends layout

block content
  h3='Most appearances by player'
  ul
    each player in players
        li='Name: ' + player.name + ', appearances: ' + player.appearances + ', goals: ' + player.goals
  a(href='/players/add') Add a player
