extends layout

block content
  h3='Scudettos won'
  ul
    each record in records
      li
        = record.year
        form.hidden(method="delete", action="/api/records/" + record._id + "/delete")
          button.btn.btn-outline-danger.delete Delete
  a(href='/records/add') Add a scudetto