extends layout

block content
  h3='Scudettos won'
  ul
    each record in records
      li
        = record.year
        form.hidden(method="POST", action="/records/" + record._id + "?_method=DELETE")
          button.btn.btn-outline-danger.delete Delete
  a(href='/records/add') Add a scudetto