extends layout

block content
  h3='Scudettos won'
  ul
    each record in records
        li=record.year
  a(href='/records/add') Add a scudetto
  p ^ Use with care since every single one of them is already listed ;)